.maincontent {
	display: flex;
	flex-direction: row;
	flex: 1;
	overflow: hidden;
}

@media screen and (max-width: 999px) {
	.maincontent {
		--item-selector-columns: 1;
	}
}


.maincontent-sceneexplorer {
	flex: 1;
}

.viewer-container {
	flex: 1;
	position: relative;
	display: flex;
	overflow: hidden;
}

.options {
	flex: 1;
}
