.maincontent{
	display: flex;
	flex-direction: row;
	flex: 1;
	overflow: hidden;
}
.maincontent-sceneexplorer{
	flex: 1;
}
.viewer-container{
	flex: 1;
	position: relative;
	display: flex;
	overflow: hidden;
}
.options{
	flex: 1;
}
