body.theme-dark {
	--theme-bg-color: #21252b;
	--theme-popup-bg-color: #333333;
	--theme-text-color: #EEEEEE;
	--theme-text-bg-color: #111111;

	--theme-text-color-warning:orange;
	--theme-filter-invert-dark:invert(100%);
}
body.theme-light {
	--theme-bg-color: #D7D3CB;
	--theme-popup-bg-color: #CCCCCC;
	--theme-text-color: #111111;
	--theme-text-bg-color: #EEEEEE;

	--theme-text-color-warning:#ff6a00;
	--theme-filter-invert-light:invert(100%);
}
body{
	display: flex;
}
a{
	color: var(--theme-text-color);
}
a:active, a:hover {
	outline: 0;
	color: #0055AA;
}
a:hover {
	color: var(--theme-text-color);
}

.loadout-application{
	height:100%;
	max-height:100%;
	width:100%;
	display: flex;
	overflow: hidden;
	position: fixed;
}

.loadout-application-leftpanel{
	width:0px;
	width:400px;
}
.loadout-application-content{
	position: relative;
	display: flex;
	flex:1;
	overflow: auto;
}
.loadout-application-advertisement-header{
	cursor: pointer;
}
.loadout-application-advertisement-header div:first-child{
	font-size: 1.5em;
}
.loadout-toolbar-parent{
	position:absolute;
	top:5px;
	right:5px;
	z-index:5;
	display:flex;
	pointer-events: none;
	flex-direction: column;
	background-color: var(--main-bg-color-dark);
}
.loadout-toolbar{
	/*position:absolute;
	top:5px;
	right:5px;
	z-index:5;*/
	display:flex;
	pointer-events: none;
	background-color: var(--main-bg-color-dark);
}
.loadout-toolbar-flex{
	display:flex;
	pointer-events: all;
}
.loadout-toolbar-button{
	margin:0.1rem;
	cursor:pointer;
	pointer-events: all;
	height:2.8rem;
	width:2.8rem;
}
.loadout-toolbar-button > svg{
	height:100%;
	width:100%;
}
.loadout-toolbar-button.disabled{
	opacity: 50%;
}
.loadout-toolbar-activity-selector{
	width: 100%;
}

.loadout-canvas-container{
	flex: 1;
	order: 2;
	position: relative;
	display: flex;
	overflow: auto;
}
.loadout-about-outer-removeme{
	z-index: 15;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	display: flex;
}
.loadout-about-inner-removeme{
	background-color: rgba(0, 0, 0, 0.7);
	margin:auto;
	padding:10px;
	position:relative;
	pointer-events: all;
}
.loadout-about-inner .title{
	text-align: center;
	font-size: 2em;
	margin-bottom: 1em;
}
.loadout-close-button{
	position:absolute;
	height:16px;
	width:16px;
	top:13px;
	right:13px;
	background-image: url('./css/img/icons/close.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.loadout-options-panel{
	pointer-events: all;
}
.loadout-options-panel harmony-switch{
	width: 100%
}
.loadout-modal-panel-outer{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0px;
	display: flex;
	background-color: rgba(var(--theme-text-bg-color) / 0.5);
}
.loadout-modal-panel-inner{
	background-color: rgba(0, 0, 0, 0.7);
	margin:auto;
	padding:10px;
	position:relative;
	pointer-events: all;
}
.loadout-market-prices{
	position: absolute;
	z-index: 10;
	width: 100%;
	bottom: 0px;
}


.loadout-application-3dexport-options{
	position: absolute;
	inset: unset;
	top: 50px;
	right: 50px;
	margin: 0;
	background-color: var(--theme-popup-bg-color);
	color: var(--theme-text-color);
	padding: 1rem;;

}

.loadout-application-3dexport-options > harmony-switch{
	width: 100%;
}
::backdrop {
	backdrop-filter: blur(5px);
}

